.event_article {
  width: 100%;
  padding: 1rem 0;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid;
  font-family: var(--lora);
}

.header_event_article {
  display: flex;
  align-items: center;
  gap: 0.45rem;
}

.date {
  font-size: 2.5rem;
}

.day_and_month {
  text-align: left;
  font-size: 1rem;
}

.button_collapse {
  cursor: pointer;
  border: none;
  background-color: white;
  font-family: var(--lora);
}

.button_collapse > div {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.icon {
  width: 1.75rem;
}

.collapse_event_article {
  margin-top: 1.5rem;
}

.profile {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.profile > img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 100%;
}

.register_now {
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
  border: 2px solid;
  color: black;
}

@media (min-width: 900px) {
  .event_article {
    width: 35rem;
  }

  .button_collapse {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
}
